@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Doppelganger';
  src: url('../public/fonts/Doppelganger_RUS.otf');
}

@layer base {
  html {
    font-family: Poppins, system-ui, sans-serif;
  }

  h1 {
    font-family: Doppelganger;
  }
}
