@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Doppelganger';
  src: url('../public/fonts/Doppelganger_RUS.otf');
}

@layer base {
  html {
    font-family: neue-haas-grotesk-display, sans-serif;
    color: #193053;
  }

  h1 {
    font-family: Doppelganger;
    line-height: 79px;
    font-size: 72px;
    color: #193053;
  }
}
